@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');

#app {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
  background-color: #FAFBFC;
}

h3 {
  font-weight: bold;
  margin-bottom: 15px;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}